* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    --restaurantsTitles: 'Mina', sans-serif;
    --restaurantsInfo: 'Just Another Hand', cursive;
    --formTitles: 'Teko', sans-serif;
    --inputsText: 'Rajdhani', sans-serif;
    --dottedText: 'Handjet', cursive;
}

/* ---- HEADER ---- */

.headerContainer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.headerContainer__principalLogo {
    width: 205px;
    margin: -2rem 0;
}

.headerContainer__headerLogo {
    position: absolute;
    bottom: 0;
    width: 200px;
}

@media all and (min-width: 768px) {
    .headerContainer {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: stretch;
        overflow: hidden;
    }

    .headerContainer__principalLogo {
        margin: 0;
        width: 290px;
    }

    .headerContainer__headerLogo {
        position: relative;
        width: 290px;
        margin-top: 5rem;
    }
}

@media all and (min-width: 1024px) {

    .headerContainer__principalLogo {
        width: 370px;
    }

    .headerContainer__headerLogo {
        width: 370px;
    }
}

@media all and (min-width: 1440px) {

    .headerContainer__principalLogo {
        width: 440px;
    }

    .headerContainer__headerLogo {
        width: 440px;
    }
}

@media all and (min-width: 1980px) {

    .headerContainer__principalLogo {
        width: 35%;
    }

    .headerContainer__headerLogo {
        width: 35%;
    }
}

/* ---- MAIN (FILTER SECTIONS) ---- */

.filterBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
    background-color: #d3d3d33b;
}

.filterBox__filterInput {
    display: flex;
    gap: 1rem;
}

.filterBox__filterMessage {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem 1rem 0;
}

/* ---- MAIN (RESTAURANTS SECTION) ---- */

#restaurantsList {
    list-style: none;
    margin-top: 2rem;
}

.restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.restaurants:hover {
    border: 1px solid #4caf4f;
    border-radius: 15%;
    margin: 0 0.5rem 1.5rem;
}

.restaurants.active {
    background-color: #4caf504a;
    border-radius: 15%;
    margin: 0 0.5rem 1.5rem;
}

.restaurants__restaurantsTitles {
    font-family: var(--restaurantsTitles);
    font-size: 1.5em;
    font-weight: 600;
}

.restaurants__restaurantsLogos {
    width: 60px;
}

.restaurants__restaurantsInfo {
    font-family: var(--restaurantsInfo);
    width: 85%;
    font-size: 1.3em;
}

.restaurantMeal {
    width: 140px;
}

#mealTwo {
    margin: 0 0.5rem;
}

@media all and (min-width: 768px) {
    .restaurantMeal {
        width: 170px;
    }
}

@media all and (min-width: 1024px) {
    .restaurantMeal {
        width: 200px;
    }

    .restaurants__restaurantsLogos {
        width: 85px;
    }

    .restaurants__restaurantsTitles {
        font-size: 2rem;
    }

    .restaurants__restaurantsInfo {
        font-size: 1.8em;
    }
}

@media all and (min-width: 1024px) {
    .restaurantMeal {
        width: 200px;
    }

    .restaurants__restaurantsLogos {
        width: 85px;
    }

    .restaurants__restaurantsTitles {
        font-size: 2rem;
    }

    .restaurants__restaurantsInfo {
        font-size: 1.8em;
    }
}

@media all and (min-width: 1440px) {
    #restaurantsList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    li:nth-child(3) {
        grid-column: span 2;
    }

    .desktopImages {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        margin-top: 2rem;
    }

    .meals:nth-child(3) {
        grid-column: span 2;
      }
}

@media all and (min-width: 1980px) {
    .restaurantMeal {
        width: 340px;
    }

    .restaurants__restaurantsLogos {
        width: 150px;
    }

    .restaurants__restaurantsTitles {
        font-size: 4rem;
    }

    .restaurants__restaurantsInfo {
        font-size: 4em;
    }
}

/* ---- MAIN (FORM SECTION) ---- */

.foodyLogo {
    width: 80%;
    margin-left: -2.5rem;
    z-index: -1;
}

.formSection {
    display: flex;
    background-color: #d3d3d33b;
    padding: 2rem 0 0 2rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
}

label {
    font-family: var(--formTitles);
}

.inputs {
    font-family: var(--inputsText);
    background-color: #d3d3d369;
    border: 1px solid black;
    margin-bottom: 0.3rem;
    padding: 0.2rem;
}

.buttonContainer {
    padding-bottom: 1rem;
}

.buttonContainer__buttonToSend {
    border: none;
    background-color: black;
    color: white;
    margin-top: 1rem;
    padding: 0.3rem 0.8rem;
    border-radius: 15%;
    font-family: var(--dottedText);
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
}

.buttonContainer__buttonToSend:hover {
    background-color: transparent;
    border: 2px dotted black;
    color: black;
}

#reservationMessage {
    font-size: 1rem;
    margin-bottom: 1rem;
    color:#4caf4f;
    font-family: var(--dottedText);
    font-weight: 600;
}

.hidden {
    display: none;
}

@media all and (min-width: 768px) {
    #reservationMessage {
        font-size: 1.5rem;
    }
}

@media all and (min-width: 1024px) {
    label {
        font-size: 1.5rem;
    }

    .inputs {
        font-size: 1.2rem;
    }

    .buttonContainer__buttonToSend {
        font-size: 1.8rem;
    }

    .formSection {
        padding-left: 5rem;
    }

    #reservationMessage {
        font-size: 2rem;
    }
}

@media all and (min-width: 1440px) {
    label {
        font-size: 1.8rem;
    }

    .inputs {
        font-size: 1.5rem;
    }

    .buttonContainer__buttonToSend {
        font-size: 2rem;
    }

    #reservationMessage {
        font-size: 2.3rem;
    }
}

@media all and (min-width: 1980px) {
    label {
        font-size: 2.8rem;
    }

    .inputs {
        font-size: 2rem;
    }

    .buttonContainer__buttonToSend {
        font-size: 3rem;
    }

    .formSection {
        padding-left: 10rem;
        padding-top: 6rem;
    }

    #reservationMessage {
        font-size: 3rem;
    }
}

@media all and (min-width: 2560px) {
    label {
        font-size: 3.8rem;
    }

    .inputs {
        font-size: 3rem;
    }

    .buttonContainer__buttonToSend {
        font-size: 4rem;
    }

    #reservationMessage {
        font-size: 4rem;
    }
}

/* ---- FOOTER ---- */

.footerContainer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    font-family: var(--dottedText);
}

@media all and (min-width: 1024px) {
    .footerContainer {
        font-size: 1.3rem;
    }
}

@media all and (min-width: 1440px) {
    .footerContainer {
        font-size: 1.5rem;
    }
}

@media all and (min-width: 1980px) {
    .footerContainer {
        font-size: 2.8rem;
    }
}